{% include "admin_head.html" %}
<script>

    $(document).ready(function(){
        get_screens();
        $("#location_id").on("change",function(){
            get_theatre_options();
        });
    });

    function get_theatre_options(){
        let location_id = $("#location_id").val();
        let url = "http://127.0.0.1:5000/get_theatre_options?location_id="+(location_id)
        $.get(url,function(data,status){
            $("#theatre_id").html(data)
        });
    }

    function get_screens(){
        let url = "http://127.0.0.1:5000/get_screens"
        $.get(url,function(data,status){
            $("#screens").html(data)
        })
    }
    
    function add_screens(){
        let theatre_id = $("#theatre_id").val();
        let screen_title = $("#screen_title").val();
        let screen_size = $("#screen_size").val();
        let sound = $("#sound").val();
        let number_of_seats = $("#number_of_seats").val();
        let screen_json={
            "theatre_id":theatre_id,
            "screen_title":screen_title,
            "screen_size":screen_size,
            "sound":sound,
            "number_of_seats":number_of_seats
        }

        $.post("http://127.0.0.1:5000/add_screens1",screen_json,function(data,status){
            alert(data['message'])
            $("#theatre_id").val("");
            $("#screen_title").val("");
            $("#screen_size").val("");
            $("#sound").val("");
            $("#number_of_seats").val("");
            get_screens();
        })
        return false
    }

    function add_timings(e){
        e.preventDefault()
        let screen_id = e.target[0].value;
        let show_time = e.target[1].value;
        let url = "http://127.0.0.1:5000/add_timings?screen_id="+screen_id+"&show_time="+show_time
        $.get(url,function(data,status){
            alert(data['message'])
            if(data['message']==='Show Time Added'){
                get_screens();
            }
        });
    }
    
</script>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3 mt-3">
                <form onsubmit="return add_screens()">
                    <h5 class="text-center">ADD SCREEN</h5>
                    <div>
                        <label for="location_id" class="form-label">Location</label>
                        <select name="location_id" id="location_id" class="form-control" required>
                            <option selected hidden>Choose Location</option>
                            {% for location in locations %}
                            <option value="{{location[0]}}">{{location[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="theatre_id" class="form-label">Theatre</label>
                        <select name="theatre_id" id="theatre_id" class="form-control" required>

                        </select>
                    </div>
                    <div>
                        <label for="screen_title" class="form-label">Screen Title</label>
                        <input type="text" name="screen_title" id="screen_title" class="form-control" placeholder="Enter Title" required>
                    </div>
                    <div>
                        <label for="screen_size" class="form-label">Screen Size</label>
                        <input type="text" name="screen_size" id="screen_size" class="form-control" placeholder="Enter screen size" required>
                    </div>
                    <div>
                        <label for="sound" class="form-label">Sound System</label>
                        <input type="text" name="sound" id="sound" class="form-control" placeholder="Enter Sound System" required>
                    </div>
                    <div>
                        <label for="number_of_seats" class="form-label">Number of seats</label>
                        <input type="number" name="number_of_seats" id="number_of_seats" class="form-control" placeholder="Enter seats" required>
                    </div>
                    <div class="mt-2">
                        <input type="submit" value="Add Screen" class="btn btn-success w-100" id="btn" >
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div id="screens"></div>
        </div>
    </div>
</div>